<mat-card>
  <mat-card-header>
    <mat-card-title>Question</mat-card-title>
  </mat-card-header>
  <mat-card-content [routerLink]="[ '/', question?.id]">
    <p [innerHTML]="question?.text">
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [color]="question?.isVoted == 'up' ? 'accent' : ''" (click)="upVote()">
      <mat-icon class="material-icons">thumb_up</mat-icon>
      <span [style.paddingLeft.px]="5">{{question?.upvotes}}</span>
    </button>
    <button mat-button [color]="question?.isVoted == 'down'? 'warn' : ''" (click)="downVote()">
      <mat-icon class="material-icons">thumb_down</mat-icon>
      <span [style.paddingLeft.px]="5">{{question?.downvotes}}</span>
    </button>
    <button *ngIf="canComment" (click)="allowComment()" mat-button color="primary">
      <mat-icon class="material-icons">comment</mat-icon>
      <span [style.paddingLeft.px]="5">Answer</span>
    </button>
  </mat-card-actions>
</mat-card>